<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='helper.css') }}">
        <title>WLASL Convertor</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <a class="navbar-brand header__link grow5" href="/">
                        <i class="fab fa-youtube header__logo"></i>
                        <span class="header__name">WLASL Convertor</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto ml-auto">
                            <a class="nav-item nav-link header_normal grow1" href="/">Home</a>
                            <a class="nav-item nav-link header_normal grow1" href="/about">About Us</a>
                            <a class="nav-item nav-link header_normal grow1" href="/contact">Contact Us</a>
                        </div>
                        <div class="navbar-nav">
                            <a class="nav-item nav-link header_normal grow1" href="/login">Login</a>
                            <a class="nav-item nav-link header_Register grow1" href="/register">Register</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container landingPage flexColumn">
            <div class="landingPage__intro flexRow">
                <div class="landingPage__introContent flexColumn">
                    <span class="landingPage__introText1">Stand out of the crowd!</span>
                    <span class="landingPage__introMainText">Convert your Signs into Subtitles</span>
                    <span class="landingPage__introSubText">Let others know what you want to say easily. <br />Be audible to others!</span>
                    <div class="landingPage__introCTA flexRow">
                        <div class="header_Register gSCTA grow1 pointer">
                            Get Started
                        </div>
                        <div class="wDCTA grow1 pointer flexRow">
                            <i class="far fa-play-circle wDCTA__img"></i>
                            <span class="wDCTA__text">Watch Demo</span>
                        </div>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='Intro.png') }}" class="landingPage__introImage" alt="Intro Image" />
            </div>
            <div class="flexRow techStack">
                <i class="fab fa-python techIcon"></i>
                <span class="iconify techIcon" data-icon="cib:tensorflow"></span>
                <span class="iconify techIcon" data-icon="bx:bxl-flask"></span>
                <i class="fab fa-html5 techIcon"></i>
                <i class="fab fa-css3 techIcon"></i>
                <i class="fab fa-bootstrap techIcon"></i>
            </div>
            <div class="landingPage__start flexColumn">
                <span class="landingPage__startSub">Simple steps to being audible</span>
                <span class="landingPage__startTitle">How to get started?</span>
                <div class="landingPage__startContainer flexRow">
                    <img src="{{ url_for('static', filename='start.png') }}" class="landingPage__startImage" alt="Start Image" />
                    <div class="landingPage__startContent g60 flexColumn">
                        <div class="flexRow g60">
                            <div class="stepCard flexColumn">
                                <div class="stepCard__number flexRow">
                                    01
                                </div>
                                <div class="stepCard__icon flexRow">
                                    <i class="fas fa-user-plus stepCardIcon"></i>
                                </div>
                                <span class="stepCard__head">Create an account</span>
                                <span class="stepCard__content">You need to create an account. You can do this by clicking on the Sign up button above.</span>
                            </div>
                            <div class="stepCard flexColumn">
                                <div class="stepCard__number flexRow">
                                    02
                                </div>
                                <div class="stepCard__icon flexRow">
                                    <span class="iconify stepCardIcon2" data-icon="ci:checkbox-checked"></span>
                                </div>
                                <span class="stepCard__head">Choose a theme</span>
                                <span class="stepCard__content">There are two ways you can proceed, either upload video, or record.</span>
                            </div>
                        </div>
                        <div class="flexRow g60">
                            <div class="stepCard flexColumn">
                                <div class="stepCard__number flexRow">
                                    03
                                </div>
                                <div class="stepCard__icon flexRow">
                                    <i class="fas fa-film stepCardIcon"></i>
                                </div>
                                <span class="stepCard__head">Upload Video</span>
                                <span class="stepCard__content">You will have to give us access, and then you have to upload/record the video.</span>
                            </div>
                            <div class="stepCard flexColumn">
                                <div class="stepCard__number flexRow">
                                    04
                                </div>
                                <div class="stepCard__icon flexRow">
                                    <i class="fas fa-poll stepCardIcon2"></i>
                                </div>
                                <span class="stepCard__head">Final Result</span>
                                <span class="stepCard__content">You will receive the subtitles, along with a generated audio which will speak for you.</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
        <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
        <script src="https://kit.fontawesome.com/fba84f6e32.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
        ></script>
    </body>
</html>