{% extends "index.html" %}
{% block content %}
<main role="main" class="container">
    <div class="loginComponent">
        {% if video == '' %}
            <img src="{{ url_for('static', filename='output.png') }}" class="landingPage__loginImage" alt="Login Image" />
        {% else %}
            <video width="500" height="500" autoplay>
                <source src="{{ url_for('static', filename='' + video) }}" type="video/mp4">                
            </video>
        {% endif %}
        <div class="loginForm outputForm">
            <form method="POST" enctype="multipart/form-data">
                {{form.csrf_token}}
                <fieldset class="form-group mb20">
                    <p class="loginHead mb20">Upload Video</p>
                    <div class="formGroupTextArea outputArea fileInput flexColumn" style="margin:0">
                        {{form.video.label(class="form-control-label formGroupLabel mb20")}}
                        {{form.video(class="form-control-file fileInputGroup")}}
                    </div>
                </fieldset>
                <div class="submitButton flexRow mb20">
                    {{ form.submit(class="btn grow1 submitButtonForm") }}
                </div>
                {% if result != '' %}
                    <div class="flexColumn mb20">
                        <span class="outputHead"> Output of the above video: </span>
                        <div class="outputAns">
                            {{ result }}
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</main>
{% endblock content %}